
@main("See") {
        
    <div>
        <img id="target" width="320" height="240" style="display: inline;"/>
    </div>

    <script type="text/javascript">
        $(document).ready(function(e) {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            socket = new WS("ws://" + location.host + "/ws")
            socket.onmessage = function(event) {
                var data = event.data
                var target = document.getElementById("target");
                var url=window.webkitURL.createObjectURL(data);
                target.onload = function() {
                    window.webkitURL.revokeObjectURL(url);
                };
                target.src = url;
            }
        })        
    </script>
}